.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
venv/
env/
.venv/
output/
**/output/
**/outputs/
_static/
content/
data/
**/_static/
2026-08-27_Scripts_Bruno_RepEspacial/
Nacional/
2026-08-27_Scripts_Bruno_RepEspacial.zip
